html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #E5F5FF;
}

head{
  background: #E5F5FF;
  height: fit-content;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #D1EBFC;
  border-radius: 50px;
}

@media (max-width: 900px){

  .wrapper{
    grid-template-columns: repeat(1, 1fr);
  }

  .wrapper2{
    grid-template-columns: repeat(1, 1fr);
  }
  
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #081142;
  }
}
